* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 200px;
  /* background-color: rgb(57, 69, 92); */
  background-image: url(../multimedia/imagines/el-mejor-footer.jpg);
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 20px;
}

footer img {
  width: 150px;
  height: 150px;
}

footer ul {
  list-style-type: none;
}

.footer {
  margin-left: 40px;
}

.logo {
  position: absolute;
  color: rgb(245, 244, 244);
  margin-left: 20px;
  margin-top: 7px;
  font-size: 50px;
  background-color: #5a81e4;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}
.logo img {
  width: 80px;
  height: 80px;
}

.nav-list {
  background-image: url(../multimedia/imagines/iniciopapu.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 0;
  height: 120px;
}
.nav-list li {
  list-style-type: none;
  display: inline-block;
  margin: 20px;
  padding: 15px;
  background-color: #5a81e4;
  border-radius: 20px;
}
.nav-list li a {
  color: rgb(248, 247, 247);
  text-decoration: none;
}
.nav-list li a:hover {
  text-decoration: underline;
  transition: 1;
}

/* grilla */
.grilla-1 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  grid-template-areas: "area0" "area1" "area2" "area3" "area4";
  justify-content: center;
  border: 5px solid rgb(210, 199, 199);
}

/* cajas */
.caja {
  background-color: rgb(56, 139, 206);
  padding: 30px;
}

.c0 {
  grid-area: area0;
  margin-top: 80px;
}

.c0 h1 {
  text-decoration: double;
}

.c1 {
  grid-area: area1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c2 {
  grid-area: area2;
  font-size: 30px;
}

.c3 {
  grid-area: area3;
}

.c4 {
  display: flex;
  grid-area: area4;
}

/* imagenes */
.imagen-cuerpo img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.carousel-item img {
  width: 400px;
  height: 600px;
  object-fit: contain;
}

/*  texto  */
.texto-cuerpo {
  font-size: 30px;
  text-align: center;
}

/* main */
main {
  background-image: url(../multimedia/imagines/segundo-intento-foto.avif);
}

/* Arrancamos con CONOCENOS */
.grilla-5 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  grid-template-areas: "area0" "area1";
  justify-content: center;
  border: 5px solid rgb(210, 199, 199);
}
.grilla-5 .c-00 {
  grid-area: area0;
  margin-top: 80px;
}
.grilla-5 .c-00 h2 {
  padding: 40px;
}
.grilla-5 .c-00 .formulario {
  display: flex;
  justify-content: center;
}
.grilla-5 .c-00 .formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}
.grilla-5 .c-00 .formulario p {
  font-size: 20px;
}
.grilla-5 .c-00 form {
  padding: 40px;
}
.grilla-5 .c-11 {
  grid-area: area1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grilla-5 .c-11 .conocenos {
  font-size: 20px;
  text-align: center;
  width: 80%;
}

/* ARRANCAMOS CON DISCOGRAFIA */
.grilla-3 {
  display: grid;
  grid-template-columns: repeat(2, 35%);
  grid-template-rows: auto;
  grid-template-areas: "area0 area0" "area1 area4" "area2 area5" "area3 area6";
  justify-content: center;
  border: 5px solid rgb(210, 199, 199);
}

.c000 {
  grid-area: area0;
  margin-top: 80px;
  width: 100%;
}

.c111 {
  grid-area: area1;
}

.c222 {
  grid-area: area2;
}

.c333 {
  grid-area: area3;
}

.c444 {
  grid-area: area4;
}

.c555 {
  grid-area: area5;
}

.c666 {
  grid-area: area6;
}

.cajita {
  background-color: rgb(56, 139, 206);
  padding: 30px;
  text-align: center;
}

/* iframe Discografia */
.spotify {
  width: 100%;
  height: 400px;
}

/* ARRANCAMOS CON E-Sports */
.grilla-2 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  grid-template-areas: "area0" "area1" "area2" "area3" "area4";
  justify-content: center;
  border: 5px solid rgb(210, 199, 199);
}

/* cajas */
.cajas {
  background-color: rgb(56, 139, 206);
  padding: 30px;
}

.c00 {
  margin-top: 80px;
  grid-area: area0;
}

.c11 {
  grid-area: area1;
}

.c22 {
  grid-area: area2;
}

.c33 {
  grid-area: area3;
}

.c44 {
  grid-area: area4;
}

.E-Sports {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

/* imagenes-esports */
.c00 img {
  width: 800px;
}

.E-Sports img {
  width: 500px;
}

/* texto-esports */
.texto-esports {
  font-size: 30px;
  text-align: center;
}

/* iframes-esports*/
.E-Sports iframe {
  width: 500px;
}

.grilla-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: auto;
  grid-template-areas: "area0 area0 area0" "area1 area1 area1" "area2 area3 area4";
  justify-content: center;
  border-top: 5px solid rgb(210, 199, 199);
  border-left: 5px solid rgb(210, 199, 199);
  border-right: 5px solid rgb(210, 199, 199);
}

.grilla-1-2 {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: auto;
  grid-template-areas: "area0 area0 area0" "area1 area1 area1" "area2 area3 area4";
  justify-content: center;
  border-left: 5px solid rgb(210, 199, 199);
  border-right: 5px solid rgb(210, 199, 199);
}

.box0 {
  grid-area: area0;
  margin-top: 80px;
}

.box1 {
  grid-area: area1;
}

.box2 {
  grid-area: area2;
}

.box3 {
  grid-area: area3;
}

.box4 {
  grid-area: area4;
}

/* imagenes */
.galeria {
  width: 100%;
  border-radius: 15px;
}

.galeria:hover {
  transform: scale(1.05, 1.05);
  transition: 0.7s;
}

/* ARRANCAMOS CON NOTICIAS */
.grilla-4 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  grid-template-areas: "area0" "area1" "area2" "area3";
  justify-content: center;
  border: 5px solid rgb(210, 199, 199);
}

.c-0 {
  grid-area: area0;
  margin-top: 80px;
  font-size: 50px;
}

.c-0 h2 {
  font-size: 50px;
}

.c-1 {
  grid-area: area1;
}

.c-2 {
  grid-area: area2;
}

.c-3 {
  grid-area: area3;
}

.articulos {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* imagenes */
.noticias {
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

/* textos */
.texto-noticias h3 {
  text-align: left;
}

.texto-noticias p {
  text-align: left;
  font-size: 20px;
  text-align: center;
}

.texto-noticias a {
  color: rgb(0, 0, 0);
}

.li-noticias {
  font-size: 20px;
}

/* media queries */
@media (min-width: 320px) and (max-width: 700px) {
  nav {
    align-items: center;
    justify-content: center;
  }
  nav .logo {
    margin-left: 70px;
    font-size: 30px;
    position: relative;
    font-size: 20px;
  }
  nav .logo a {
    width: 30px;
    height: 30px;
  }
  .logo-footer {
    display: none;
  }
  .nav-list {
    background-image: url(../multimedia/imagines/que-son-los-esports-interior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 700px;
  }
  .principal {
    display: none;
  }
  .navbar-dark {
    display: flex;
  }
  .footer {
    margin-left: 40px;
    font-size: 20px;
  }
  .c0 {
    grid-area: area0;
    margin-top: 80px;
  }
  .c1 {
    grid-area: area1;
    display: flex;
    flex-direction: column;
  }
  .c2 {
    grid-area: area2;
    font-size: 20px;
  }
  .c3 {
    grid-area: area3;
    display: flex;
    flex-direction: column;
  }
  .c4 {
    display: flex;
    flex-direction: column;
    grid-area: area4;
  }
  /* cajas */
  .caja {
    background-color: rgb(56, 139, 206);
    padding: 20px;
  }
  /* imagenes */
  .imagen-cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-cuerpo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
  }
  .carousel-item img {
    width: 400px;
    height: 600px;
    object-fit: contain;
  }
  /*  texto  */
  .texto-cuerpo {
    font-size: 15px;
    text-align: center;
  }
  footer h4 {
    font-size: 20px;
  }
  /*  arrancamos con noticias */
  .noticias {
    width: 100%;
    height: 150px;
  }
  /* arrancamos con galeria */
  .grilla-1-1 {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4";
    justify-content: center;
    border-top: 5px solid rgb(210, 199, 199);
    border-left: 5px solid rgb(210, 199, 199);
    border-right: 5px solid rgb(210, 199, 199);
  }
  .grilla-1-2 {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4";
    justify-content: center;
    border-left: 5px solid rgb(210, 199, 199);
    border-right: 5px solid rgb(210, 199, 199);
  }
  /* ARRANCAMOS CON E-Sports */
  .grilla-2 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4";
    justify-content: center;
    border: 5px solid rgb(210, 199, 199);
  }
  /* cajas */
  .cajas {
    background-color: rgb(56, 139, 206);
    padding: 30px;
  }
  .c00 {
    margin-top: 80px;
    grid-area: area0;
  }
  .c11 {
    grid-area: area1;
  }
  .c22 {
    grid-area: area2;
  }
  .c33 {
    grid-area: area3;
  }
  .c44 {
    grid-area: area4;
  }
  .E-Sports {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  /* imagenes-esports */
  .E-Sports img {
    width: 200px;
  }
  /* texto-esports */
  .texto-esports {
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* iframes-esports*/
  .E-Sports iframe {
    width: 200px;
  }
  /* imagenes-esports */
  .c00 img {
    width: 80%;
  }
  /*  arrancamos con conocenos */
  .formulario {
    flex-direction: column;
    align-items: center;
  }
  .formulario form {
    align-items: center;
  }
  .formulario form input {
    width: 70%;
  }
  .formulario textarea {
    width: 70%;
  }
  .formulario img {
    width: 80%;
    height: 100%;
  }
  /* arrancamos con discografia */
  .grilla-3 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area5" "area3" "area4" "area6";
    justify-content: center;
    border: 5px solid rgb(210, 199, 199);
  }
  .spotify {
    width: 100%;
    height: 400px;
  }
  /* footer */
  footer div {
    display: flex;
    flex-direction: row;
  }
  footer div li {
    font-size: 25px;
  }
  footer div a {
    width: 20%;
    height: 20%;
    margin-left: 70px;
  }
}
@media (min-width: 701px) and (max-width: 1000px) {
  .logo {
    margin-left: 190px;
    font-size: 50px;
    position: absolute;
  }
  .nav-list {
    background-image: url(../multimedia/imagines/que-son-los-esports-interior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-bottom: 0;
    height: 200px;
  }
  #navbarToggleExternalContent {
    display: none;
  }
  .navbar-dark {
    display: none;
  }
  footer div {
    display: flex;
    flex-direction: row;
  }
  footer div li {
    font-size: 25px;
  }
  footer div a {
    width: 20%;
    height: 20%;
    margin-left: 70px;
  }
  .c0 {
    grid-area: area0;
    margin-top: 80px;
  }
  .c1 {
    grid-area: area1;
    display: flex;
    flex-direction: column;
  }
  .c2 {
    grid-area: area2;
    font-size: 20px;
  }
  .c3 {
    grid-area: area3;
    display: flex;
    flex-direction: column;
  }
  .c4 {
    display: flex;
    flex-direction: column;
    grid-area: area4;
  }
  /* cajas */
  .caja {
    background-color: rgb(56, 139, 206);
    padding: 20px;
  }
  /* imagenes */
  .imagen-cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .imagen-cuerpo img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
  }
  .carousel-item img {
    width: 400px;
    height: 600px;
    object-fit: contain;
  }
  /*  texto  */
  .texto-cuerpo {
    font-size: 15px;
    text-align: center;
  }
  footer h4 {
    font-size: 20px;
  }
  /* arrancamos con noticias */
  .noticias {
    width: 80%;
    height: 250px;
  }
  /* arrancamos con discografia */
  .grilla-3 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4" "area5" "area6";
    justify-content: center;
    border: 5px solid rgb(210, 199, 199);
  }
  .spotify {
    width: 100%;
    height: 400px;
  }
  /* arrancamos con galeria */
  .grilla-1-1 {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4";
    justify-content: center;
    border-top: 5px solid rgb(210, 199, 199);
    border-left: 5px solid rgb(210, 199, 199);
    border-right: 5px solid rgb(210, 199, 199);
  }
  .grilla-1-2 {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4";
    justify-content: center;
    border-left: 5px solid rgb(210, 199, 199);
    border-right: 5px solid rgb(210, 199, 199);
  }
  /* ARRANCAMOS CON E-Sports */
  .grilla-2 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4";
    justify-content: center;
    border: 5px solid rgb(210, 199, 199);
  }
  /* cajas */
  .cajas {
    background-color: rgb(56, 139, 206);
    padding: 30px;
  }
  .c00 {
    margin-top: 80px;
    grid-area: area0;
  }
  .c11 {
    grid-area: area1;
  }
  .c22 {
    grid-area: area2;
  }
  .c33 {
    grid-area: area3;
  }
  .c44 {
    grid-area: area4;
  }
  .E-Sports {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  /* imagenes-esports */
  .E-Sports img {
    width: 200px;
  }
  /* texto-esports */
  .texto-esports {
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* iframes-esports*/
  .E-Sports iframe {
    width: 65%;
    height: 60%;
  }
  /* imagenes-esports */
  .c00 img {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .E-Sports img {
    width: 65%;
    height: 60%;
  }
}
/* ARRANCA CONOCENOS */
.formulario {
  flex-direction: column;
  align-items: center;
}
.formulario img {
  width: 80%;
}
.formulario form {
  width: 100%;
  align-items: center;
}
.formulario form input {
  width: 80%;
}
.formulario form textarea {
  width: 80%;
}

@media (min-width: 1001px) and (max-width: 1500px) {
  #navbarToggleExternalContent {
    display: none;
  }
  .navbar-dark {
    display: none;
  }
  footer div {
    display: flex;
    flex-direction: row;
  }
  footer div li {
    font-size: 25px;
  }
  footer div a {
    width: 20%;
    height: 20%;
    margin-left: 70px;
  }
  /* arrancamos con discografia */
  .grilla-3 {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: auto;
    grid-template-areas: "area0 area0" "area1 area4" "area2 area5" "area3 area6";
    justify-content: center;
    border: 5px solid rgb(210, 199, 199);
  }
  .spotify {
    width: 100%;
    height: 400px;
  }
  /* arrancamos con galeria */
  .grilla-1-1 {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4";
    justify-content: center;
    border-top: 5px solid rgb(210, 199, 199);
    border-left: 5px solid rgb(210, 199, 199);
    border-right: 5px solid rgb(210, 199, 199);
  }
  .grilla-1-2 {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4";
    justify-content: center;
    border-left: 5px solid rgb(210, 199, 199);
    border-right: 5px solid rgb(210, 199, 199);
  }
  /* ARRANCAMOS CON E-Sports */
  .grilla-2 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    grid-template-areas: "area0" "area1" "area2" "area3" "area4";
    justify-content: center;
    border: 5px solid rgb(210, 199, 199);
  }
  /* cajas */
  .cajas {
    background-color: rgb(56, 139, 206);
    padding: 30px;
  }
  .c00 {
    margin-top: 80px;
    grid-area: area0;
  }
  .c11 {
    grid-area: area1;
  }
  .c22 {
    grid-area: area2;
  }
  .c33 {
    grid-area: area3;
  }
  .c44 {
    grid-area: area4;
  }
  .E-Sports {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  /* texto-esports */
  .texto-esports {
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* iframes-esports*/
  .E-Sports iframe {
    width: 350px;
    height: 250px;
  }
  /* imagenes-esports */
  .c00 img {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .E-Sports img {
    width: 350px;
    height: 250px;
  }
}
/* ARRANCA CONOCENOS */
c-00 {
  display: flex;
}
c-00 flex-direction h1 {
  width: 100%;
}
c-00 .formulario {
  flex-direction: column;
  align-items: center;
}
c-00 .formulario img {
  width: 70%;
}
c-00 .formulario form {
  width: 100%;
  align-items: center;
}
c-00 .formulario form input {
  width: 80%;
}
c-00 .formulario form textarea {
  width: 80%;
}

@media (min-width: 1501px) {
  #navbarToggleExternalContent {
    display: none;
  }
  .navbar-dark {
    display: none;
  }
  footer div {
    display: flex;
    flex-direction: row;
  }
  footer div li {
    font-size: 30px;
  }
  footer div a {
    width: 20%;
    height: 20%;
    margin-left: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
