/* Arrancamos con CONOCENOS */


.grilla-5{
    display:grid;
    grid-template-columns:80%;
    grid-template-rows: auto;
    grid-template-areas:
    'area0'
    'area1';
    justify-content: center;
    border: 5px solid rgb(210, 199, 199);

    .c-00{
        grid-area: area0;
        margin-top: 80px;

        h2{
            padding: 40px;
        }

        .formulario{
            display: flex;
            justify-content: center;
        
            form{
                display: flex;
                flex-direction: column;
                gap: 15px;
                text-align: left;
            }
        
            p{
                font-size: 20px;
            }
        }
        
        form{
            padding: 40px;
        }
    }

    .c-11{
        grid-area: area1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .conocenos{
            font-size: 20px;
            text-align: center;
            width: 80%;
        }
    }
}


