.grilla-1-1{
    display:grid;
    grid-template-columns:repeat(3,25%);
    grid-template-rows: auto;
    grid-template-areas:
    'area0 area0 area0' 
    'area1 area1 area1'
    'area2 area3 area4';
    justify-content: center;
    border-top: 5px solid rgb(210, 199, 199);
    border-left: 5px solid rgb(210, 199, 199) ;
    border-right:5px solid rgb(210, 199, 199) ;   
}

.grilla-1-2{
    display:grid;
    grid-template-columns:repeat(3,25%);
    grid-template-rows: auto;
    grid-template-areas:
    'area0 area0 area0' 
    'area1 area1 area1'
    'area2 area3 area4';
    justify-content: center;
    border-left: 5px solid rgb(210, 199, 199) ;
    border-right:5px solid rgb(210, 199, 199) ;   
}

.box0{
    grid-area: area0;
    margin-top: 80px;
}

.box1{
    grid-area: area1;
}

.box2{
    grid-area: area2;
}

.box3{
    grid-area: area3;
}

.box4{
    grid-area: area4;
}



/* imagenes */

.galeria{
    width:100%;
    border-radius: 15px;
}

.galeria:hover{
    transform: scale(1.05,1.05);
    transition:0.7s;
}