/* media queries */

@media (min-width:320px) and (max-width:700px) {

    nav{
        align-items: center;
        justify-content: center;
    }

    .logo{
        margin-left: 70px;
        font-size: 30px;
        position:absolute;
    }

    .nav-list{
        background-image: url(../multimedia/imagines/que-son-los-esports-interior.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        height: 700px;
    }

    .c0{
        grid-area: area0;
        margin-top: 80px;
    } 
    
    .c1{
        
        grid-area: area1;
        display: flex;
        flex-direction: column;
    }
    
    
    .c2{
        grid-area: area2;
        font-size: 20px;
        
    }
    
    
    .c3{
        grid-area: area3;
        display: flex;
        flex-direction: column;
    }
    
    .c4{
        display: flex;
        flex-direction: column;
        grid-area: area4;
    }

    /* cajas */

    .caja{
        background-color: rgb(56, 139, 206);
        padding:20px;
    } 
    
    /* imagenes */
    .imagen-cuerpo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagen-cuerpo img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        padding: 10px;

    }

    .carousel-item img{
        width: 400px;
        height: 600px;
        object-fit: contain;
    }
    /*  texto  */

    .texto-cuerpo{
        font-size: 15px;
        text-align: center;
    }

    footer h4{
        font-size: 20px;
    }

    /* ARRANCAMOS CON E-Sports */

    .grilla-2{
        display:grid;
        grid-template-columns: 80%;
        grid-template-rows: auto;
        grid-template-areas:
        'area0' 
        'area1'
        'area2'
        'area3'
        'area4';
        justify-content: center;
        border: 5px solid rgb(210, 199, 199);
     
    }

    /* cajas */


    .cajas{
        background-color: rgb(56, 139, 206);
        padding:30px;
    }


    .c00{
        margin-top: 80px;
        grid-area:area0;   
    }

    .c11 {
        grid-area:area1;
    }

    .c22{
        grid-area:area2;
    }

    .c33{
        grid-area:area3;
    }

    .c44{
        grid-area:area4;
    }

    .E-Sports{
        display: flex;
        flex-direction:column;
        justify-content: center;
        gap: 20px;
    }
    /* imagenes-esports */

    .E-Sports img{
        width: 200px;
    }


    /* texto-esports */

    .texto-esports{
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* iframes-esports*/

    .E-Sports iframe{
        width: 200px;
    }

    /* imagenes-esports */

    .c00 img{
        width: 80%;
    }   

}

@media (min-width:701px) and (max-width:1000px) {

    .logo{
        margin-left: 190px;
        font-size:50px;
        position:absolute;
    }

    .nav-list{
        background-image: url(../multimedia/imagines/que-son-los-esports-interior.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: end;
        margin-bottom: 0;
        height: 200px;
    }

    .c0{
        grid-area: area0;
        margin-top: 80px;
    } 
    
    .c1{
        
        grid-area: area1;
        display: flex;
        flex-direction: column;
    }
    
    
    .c2{
        grid-area: area2;
        font-size: 20px;
        
    }
    
    
    .c3{
        grid-area: area3;
        display: flex;
        flex-direction: column;
    }

    
    .c4{
        display: flex;
        flex-direction: column;
        grid-area: area4;
    }

    /* cajas */

    .caja{
        background-color: rgb(56, 139, 206);
        padding:20px;
    } 
    
    /* imagenes */
    .imagen-cuerpo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .imagen-cuerpo img{
        width: 250px;
        height: 150px;
        object-fit:cover;
        padding: 10px;

    }

    .carousel-item img{
        width: 400px;
        height: 600px;
        object-fit: contain;
    }
    /*  texto  */

    .texto-cuerpo{
        font-size: 15px;
        text-align: center;
    }

    footer h4{
        font-size: 20px;
    }

    /* ARRANCAMOS CON E-Sports */

    .grilla-2{
        display:grid;
        grid-template-columns: 80%;
        grid-template-rows: auto;
        grid-template-areas:
        'area0' 
        'area1'
        'area2'
        'area3'
        'area4';
        justify-content: center;
        border: 5px solid rgb(210, 199, 199);   
    }
    
    /* cajas */
    
    
    .cajas{
        background-color: rgb(56, 139, 206);
        padding:30px;
    }
    
    
    .c00{
        margin-top: 80px;
        grid-area:area0;   
    }
    
    .c11 {
        grid-area:area1;
    }
    
    .c22{
        grid-area:area2;
    }
    
    .c33{
        grid-area:area3;
    }
    
    .c44{
        grid-area:area4;
    }
    
    .E-Sports{
        display: flex;
        flex-direction:row;
        justify-content: center;
        gap: 20px;
    }
    /* imagenes-esports */
    
    .E-Sports img{
        width: 200px;
    }
    
    
    /* texto-esports */
    
    .texto-esports{
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* iframes-esports*/
    
    .E-Sports iframe{
        width: 65%;
        height: 60%;
    }
    
    /* imagenes-esports */
    
    .c00 img{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }
           
    .E-Sports img{
        width: 65%;
        height: 60%;

    }
}

@media (min-width:1001px) and (max-width:1500px) {
    /* ARRANCAMOS CON E-Sports */

    .grilla-2{
        display:grid;
        grid-template-columns: 80%;
        grid-template-rows: auto;
        grid-template-areas:
        'area0' 
        'area1'
        'area2'
        'area3'
        'area4';
        justify-content: center;
        border: 5px solid rgb(210, 199, 199);   
    }
    
    /* cajas */
    
    
    .cajas{
        background-color: rgb(56, 139, 206);
        padding:30px;
    }
    
    
    .c00{
        margin-top: 80px;
        grid-area:area0;   
    }
    
    .c11 {
        grid-area:area1;
    }
    
    .c22{
        grid-area:area2;
    }
    
    .c33{
        grid-area:area3;
    }
    
    .c44{
        grid-area:area4;
    }
    
    .E-Sports{
        display: flex;
        flex-direction:row;
        justify-content: center;
        gap: 20px;
    }
    
    /* texto-esports */
    
    .texto-esports{
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* iframes-esports*/
    
    .E-Sports iframe{
        width: 350px;
        height: 250px;
    }
    
    /* imagenes-esports */
    
    .c00 img{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }
           
    .E-Sports img{
        width: 350px;
        height: 250px;

    }    
}